  = link_to_unless_current('List', exp_types_path)
  = link_to_unless_current('Add', new_exp_type_path)
  = link_to_unless_current('Edit', edit_exp_type_path(@exp_type)) if (@exp_type && !@exp_type.new_record?)
  = link_to_unless_current('Detail', exp_type_path(@exp_type)) if (@exp_type && !@exp_type.new_record?)
%table
  %tr
  	%th Description
    %th &nbsp;
  -@exp_types.each do |e|
    %tr
      %td= e.description
      %td
        = link_to 'Show', e
        |
        = link_to 'Edit', edit_exp_type_path(e)
        |
        = link_to 'Destroy', e, :confirm => 'Are you sure?', :method => :delete