.budget
  ="Monthly mortgage payment: #{budget.mortgage.monthly_mortgage_payment}"
  %br
  ="Monthly payment to bank, municipal, heating, insurance: #{budget.mortgage.monthly_payment}"
  %br
  ="Net monthly payment after revenue: #{budget.mortgage.net_monthly_payment}"
  %br
  ="Monthly saving after mortgage and family expense: #{budget.mortgage.monthly_saving}"
  %br
  ="Monthly saving after mortgage and family expense: #{budget.mortgage.monthly_saving}"
