= tabs_tag do |tab|
  = tab.cooking 'Expense', expenses_path
  = link_to_unless_current('List', expenses_path)
  = link_to_unless_current('Add', new_expense_path)
  = link_to_unless_current('Edit', edit_expense_path(@expense)) if (@expense && !@expense.new_record?)
  = link_to_unless_current('Detail', expense_path(@expense)) if (@expense && !@expense.new_record?)